<router-outlet>
 <div class="navbarr">
<nav class="navbar navbar-expand-sm" style="background-color: rgb(9, 9, 9); ">

    <a class="navbar-brand" href="/">
        <div class="logo-image">
              <img src="assets/imgs/pizzacrew.png" class="img-fluid">
        </div>
  </a>

    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="home" routerLinkActive="active" class="nav-link" >Home</a>
        </li>
        <li class = "nav-item">
            <a routerLink="menu" routerLinkActive="active" class="nav-link" >Menu</a>
        </li>
        <li class = "nav-item">
            <a routerLink="contact-us" routerLinkActive="active" class="nav-link" >Contact Us</a>
        </li>
        
    </ul>
    
</nav>

</div>



<div class = "container">
   
</div>
</router-outlet>

