<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
        <link rel="stylesheet" href="home.component.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

        
       
        <title>Pizza Restaurant</title>
        <app-root></app-root>
    </head>
    
    <body>

       
        <div class="banner2">
    
            <img src="./assets/imgs/image.jpg" class="responsive" width="1500" height="650" />
           
            </div>
           

       
        <section id="home" class="home">
            <div class="home__content">
                <h3>Pizza Made With Love</h3>
                <p>
                   Delicious Pizza. Fresh Ingredients. Flavorful Toppings. 
                </p>
                <a href="menu" class="button">order now</a>
            </div>
            <div class="home__image">
                <img src="./assets/imgs/pizza.png" alt="home-img" />
            </div>
        </section>

        <section class="speciality" id="speciality">
            <h1 class="heading">Our <span>Speciality</span></h1>
            <div class="box-container">
                <div class="box">
                    <img class="box__image" src="./assets/imgs/s-img-1.jpg" alt="s1" />
                    <div class="box__content">
                        <img src="./assets/imgs/s-1.png" alt="s1" />
                        <h3>Tasty Burger</h3>
                        <p>
                            Tasty Burgers
                        </p>
                    </div>
                </div>

                <div class="box">
                    <img class="box__image" src="./assets/imgs/s-img-2.jpg" alt="s2" />
                    <div class="box__content">
                        <img src="./assets/imgs/s-2.png" alt="s2" />
                        <h3>Tasty Pizza</h3>
                        <p>
                           Tasty Pizza
                        </p>
                    </div>
                </div>

                <div class="box">
                    <img class="box__image" src="./assets/imgs/s-img-3.jpg" alt="s3" />
                    <div class="box__content">
                        <img src="./assets/imgs/s-3.png" alt="s3" />
                        <h3>Cold Ice-cream</h3>
                        <p>
                           Cold Icecream
                        </p>
                    </div>
                </div>

                <div class="box">
                    <img class="box__image" src="./assets/imgs/s-img-4.jpg" alt="s4" />
                    <div class="box__content">
                        <img src="./assets/imgs/s-4.png" alt="s4" />
                        <h3>Cold Drink</h3>
                        <p>
                           Drinks
                        </p>
                    </div>
                </div>

                <div class="box">
                    <img class="box__image" src="./assets/imgs/s-img-5.jpg" alt="s5" />
                    <div class="box__content">
                        <img src="./assets/imgs/s-5.png" alt="s5" />
                        <h3>Tasty Sweets</h3>
                        <p>
                        Sweets
                        </p>
                    </div>
                </div>

                <div class="box">
                    <img class="box__image" src="./assets/imgs/s-img-6.jpg" alt="s6" />
                    <div class="box__content">
                        <img src="./assets/imgs/s-6.png" alt="s6" />
                        <h3>Healthy Breakfast</h3>
                        <p>
                           Breakfast
                        </p>
                    </div>
                </div>
            </div>
            </section>




           
          
        
       


       

       

        <footer class="footer">
            <div class="share">
                <a href="https://www.facebook.com" class="button">Facebook</a>
                <a href="https://www.instagram.com" class="button">Instagram</a>
                <a href="https://www.twitter.com" class="button">Twitter</a>
                <a href="https://www.pinterest.com" class="button">Pinterest</a>
                <a href="https://www.linkedin.com" class="button">Linkedin</a>
                
            </div>

            <h1 class="credit">@2022 PizzaCrew All rights reserved.
                
            </h1>
        </footer>

        <script src="./assets/js/main.js"></script>
        

    </body>
</html>